<!DOCTYPE html>
<html>
<head>
    <title>Alias</title>
</head>
<body>
    <div>
        <form action="/alias" method="post">
            <div id="origin" style="margin-bottom: 32px">
                origin:
                <input name="origin" type="text" style="width: 512px">
            </div>
            <div id="origin" style="margin-bottom: 32px">
                result:
                <input name="result" type="text" style="width: 512px">
            </div>
            <button>update</button>
        </form>
    </div>
</body>
</html>