<!DOCTYPE html>
<html>
<head>
    <title>Pattern</title>
</head>
<body>
    <div>
        <form action="/pattern" method="post">
            <div id="input" style="margin-bottom: 32px">
                input:
                <input name="input" type="text" style="width: 512px">
            </div>
            <div id="output" style="margin-bottom: 32px">
                output:
                <textarea name="output" style="width: 512px;height: 192px"></textarea>
            </div>
            <button>update</button>
        </form>
    </div>
</body>
</html>